@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@300&family=Karla&family=Montserrat:wght@300&family=Poppins:wght@200&family=Press+Start+2P&family=Roboto:wght@300&family=Sedgwick+Ave&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: rgb(28, 28, 28);
}

.container {
  width: 100%;
}

.body-content {
  z-index: 5;
  position: relative;
}

.wrapper {
  width: 80%;
  min-width: 376px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 200px;
  padding-bottom: 200px;
  line-height: 36px;
  text-align: center;
  position: relative;
  background-color: white;
}

.images {
  width: 100%;
  margin: 0 auto;
}

#category-dropdown {
  display: inline-block;
  width: 150px;
  border-radius: 5px;
  height: 30px;
  outline: none;
  border: none;
}

#category-dropdown:hover {
  border: 2px solid #4d5b9e;
  cursor: pointer;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.wrapper button {
  margin-top: 20px;
  background: #4d5b9e;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  color: white;
  font-size: 16px;
}

.wrapper button:hover {
  cursor: pointer;
  background-color: rgb(78, 77, 158);
}

.top-bg {
  position: absolute;
  top: -10em;
  right: -5em;
}

.bottom-bg {
  position: absolute;
  top: 30em;
  left: -10em;
}

/* Game Page  */

.game-wrapper {
  width: 70%;
  min-width: 376px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 36px;
  position: relative;
  background-color: white;
}

.question-list {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  line-height: 3em;
}

li {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.answer-buttons {
  margin-top: 20px;
  display: inline;
  border: 0.771045px solid #4d5b9e;
  padding: 5px;
  min-width: 50px;
  border-radius: 7.942387104034424px;
  font-size: 13px;
  margin-left: 10px;
  text-align: left;
}

#correct-answer {
  margin-top: 20px;
  display: inline;
  /* border: 0.771045px solid #4d5b9e; */
  padding: 5px;
  min-width: 50px;
  border-radius: 7.942387104034424px;
  font-size: 13px;
  margin-left: 10px;
  background-color: rgba(148, 215, 162, 1);
}

#incorrect-answer {
  margin-top: 20px;
  display: inline;
  /* border: 0.771045px solid #4d5b9e; */
  padding: 5px;
  min-width: 50px;
  border-radius: 7.942387104034424px;
  font-size: 13px;
  margin-left: 10px;
  background-color: rgba(248, 188, 188, 1);
}

.question-list button:hover {
  background-color: rgba(214, 219, 245, 1);
  cursor: pointer;
}

#button-clicked {
  background-color: rgba(214, 219, 245, 1);
}

.question-list p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 2em;
  line-height: 18.7px;
  color: rgba(41, 50, 100, 1);
}

.line {
  color: rgba(219, 222, 240, 1);
  border: 0.794239px solid #dbdef0;
  transform: rotate(-0.05deg);
  margin-top: 25px;
  margin-bottom: 15px;
  width: 80%;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-wrapper p {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 12px;
  align-self: center;
}

.check-answer {
  background-color: rgb(77, 91, 158, 1);
  border: 0.771045px solid #4d5b9e;
  padding: 5px;
  min-width: 120px;
  height: 35px;
  border-radius: 7.942387104034424px;
  font-size: 13px;
  margin-top: 20px;
}

.check-answer:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width: 420px) {
  .game-wrapper {
    margin-top: 0px;
  }
  .wrapper {
    margin-top: 0px;
  }
}
